body {background-color:#800080;}
	background-image: https://orange-object.github.io/dude/;
}
	a{color:#3383ff}
	a: hover{color:#009dff}
.right {float: left; 1000px;}
.right {margin: left; 100px;}
.left {float: right; 1000px;}
.left {margin: right; 100px;}
